
# Игнорировать Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать Node
node_modules/

# Игнорировать файлы настроек IDE
.vscode/

# VS Code
.vscode/
.history/
*.code-workspace

# Env files
.env
.env.test
.env.local

# macOS system files
.DS_Store

# others
keys.txt
*copy*